
lichess game data.db
.ipynb_checkpoints/DB queries-checkpoint.ipynb
query results/cap_dict.txt
piece moves analysis.sqbpro
Oct 2019.pgn
lichess_db_creation.ipynb
*.sqbpro
*.pgn
.ipynb_checkpoints/Visualizations-checkpoint.ipynb
.ipynb_checkpoints/lichess_db_creation-checkpoint.ipynb
.ipynb_checkpoints/lichess_db_creation-checkpoint.ipynb
.ipynb_checkpoints/backup-checkpoint.ipynb
.ipynb_checkpoints/lichess-analysis-checkpoint.ipynb
.ipynb_checkpoints/Visualizations-Copy1-checkpoint.ipynb
Linear Regression practice.ipynb
query results/cap_dict_elosum_0-2500.txt
query results/cap_dict_elosum_2500-3000.txt
query results/cap_dict_elosum_3000-3500.txt
query results/cap_dict_elosum_3500-4000.txt
query results/cap_dict_elosum_4000-10000.txt
query results/death_dict.txt
query results/death_dict_elosum_0-2500.txt
query results/death_dict_elosum_2500-3000.txt
query results/death_dict_elosum_3000-3500.txt
query results/death_dict_elosum_3500-4000.txt
query results/death_dict_elosum_4000-10000.txt
Visualizations-Copy1.ipynb
win rate by elo diff.txt
.ipynb_checkpoints/Linear Regression practice-checkpoint.ipynb
.ipynb_checkpoints/lichess_db_creation-checkpoint.ipynb
lichess_db_creation.ipynb
